.root {
  --aside-width: 20rem;
  padding: var(--spacing-unit-lg);
}

.root h1 {
  font-size: 3.2rem;
}

.root h2 {
  font-size: 2.4rem;
}

.root h3 {
  font-size: 2rem;
}

.root h4 {
  font-size: 1.6rem;
}

.root h5 {
  font-size: 1.6rem;
}

.root h6 {
  font-size: 1.6rem;
}

.root .header > * + * {
  margin-top: var(--spacing-unit-lg);
}

@media only screen and (min-width: 768px) {
  .root {
    display: flex;
    flex-wrap: wrap;
  }

  .root .header {
    align-items: center;
    border-bottom: 1px dotted #ccc;
    display: flex;
    flex: 1 0 100%;
    padding: 0 0 1.6rem 0;
  }
  .root .header > * + * {
    margin-left: var(--spacing-unit-lg);
  }

  .root .headerTitle {
    flex: 1 0 var(--aside-width);
    order: 1;
  }

  .root .headerSummary {
    flex: 1 1 auto;
    order: 2;
  }

  .root .main {
    flex: 1 0 auto;
    order: 2;
  }

  .root .aside {
    flex: 0 1 var(--aside-width);
    order: 1;
  }
}
