<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Barry Els // {{ title }}</title>
    <meta
      name="description"
      content="{{ description }}"
    />
    <meta
      name="keywords"
      content="barry els, programmer, creative technologist, technical architect"
    />
    <link rel="icon" href="/favicon.png" />

    <link rel="stylesheet" href="/index.css" />
  </head>

  <body class="stack stack--spacing-4x inset--top-4x">
      <main class="site-main">
        {{ content | safe }}
      </main>

      <footer class="site-footer">
        <div class="u-max-width inset--4x">
          <span class="legal">&copy; {% currentYear %} All rights reserved.</span>
        </div>
      </footer>
  </body>
</html>
