<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Barry Els // Technical Architect @ Platform45</title>
    <meta
      name="description"
      content="I am passionate about building better experiences for end users, and consequently helping businesses achieve their goals. Whether through technical innovation, solid user experience or internal process re-engineering, my focus is on continuous learning and consistent improvement over time. I have been fortunate enough to experience 20+ years of building solutions using a wide range of technologies within a multitude of business domains, most notably: healthcare, event management, education and insurance."
    />
    <meta
      name="keywords"
      content="barry els, programmer, creative technologist, technical architect"
    />
    <link rel="icon" href="./favicon.png" />

    <style type="text/css">
      :root {
        --spacing-unit: 0.8rem;
        --spacing-unit-2x: 1.6rem;
        --spacing-unit-3x: 2.4rem;
        --spacing-unit-4x: 3.2rem;
        --spacing-unit-8x: 6.4rem;
        --domain-healthcare: #c3f5c8;
        --domain-event-management: #c0bddb;
        --domain-education: #c8e6e2;
        --domain-insurance: #f2d9b9;
        --domain-e-commerce: #87cfb8;
        --domain-tech: #e5e5e2;
        --html-light-background: #fff;
        --html-light-color: #333;
        --html-dark-background: #222;
        --html-dark-color: #eee;
        --link-light-foreground: #333;
        --link-dark-foreground: #eee;
        --tag-light-background: #eee;
        --tag-light-foreground: #333;
        --tag-dark-background: #eee;
        --tag-dark-foreground: #333;
        --interests-list-item-light-background: #eee;
        --interests-list-item-light-foreground: #333;
        --interests-list-item-dark-background: #444;
        --interests-list-item-dark-foreground: #eee;
        --legal-light-foreground: #555;
        --legal-dark-foreground: #aaa;
        --panel-light-background: #f5f5f5;
        --panel-light-foreground: #333;
        --panel-dark-background: #292929;
        --panel-dark-foreground: #f5f5f5;
        --main-navigation-light-link-background: transparent;
        --main-navigation-light-link-foreground: #333;
        --main-navigation-light-link-hover-background: #ddd;
        --main-navigation-light-link-hover-foreground: #333;
        --main-navigation-dark-link-background: transparent;
        --main-navigation-dark-link-foreground: #f5f5f5;
        --main-navigation-dark-link-hover-background: #555;
        --main-navigation-dark-link-hover-foreground: #f5f5f5;
      }

      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-stretch: 100%;
        font-display: swap;
        src: url(./themes/handdrawn/fonts/opensans/v36/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2)
          format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
          U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 800;
        font-stretch: 100%;
        font-display: swap;
        src: url(./themes/handdrawn/fonts/opensans/v36/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2)
          format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
          U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      @keyframes slideDown {
        from {
          transform: translateY(calc(var(--spacing-unit-8x) * -1));
        }

        to {
          transform: translateY(0);
        }
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }

      *,
      *:before,
      *:after {
        box-sizing: border-box;
      }
      * {
        margin: 0;
        padding: 0;
      }

      html {
        background: var(--html-light-background);
        color: var(--html-light-foreground);
        font-size: 62.5%;
        scroll-behavior: smooth;
      }
      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }
      @media (prefers-color-scheme: dark) {
        html {
          background: var(--html-dark-background);
          color: var(--html-dark-foreground);
        }
      }

      body {
        font-family: "Open Sans", sans-serif;
        font-size: 1.6rem;
        margin: 0;
      }

      a {
        color: var(--link-light-foreground);
      }
      @media (prefers-color-scheme: dark) {
        a {
          color: var(--link-dark-foreground);
        }
      }

      p {
        line-height: 165%;
      }

      h1,
      .h1,
      h2,
      .h2,
      h3,
      .h3,
      h4,
      .h4,
      h5,
      .h5,
      h6,
      .h6 {
        font-weight: 800;
        line-height: 110%;
      }

      h1,
      .h1 {
        font-size: 6.4rem;
      }

      h2,
      .h2 {
        font-size: 4rem;
      }
      h3,
      .h3 {
        font-size: 3.2rem;
      }
      h4,
      .h4 {
        font-size: 2.4rem;
      }
      h5,
      .h5 {
        font-size: 2rem;
      }
      h6,
      .h6 {
        font-size: 1.6rem;
      }

      .inset {
        padding: var(--spacing-unit);
      }
      .inset--2x {
        padding: var(--spacing-unit-2x);
      }
      .inset--4x {
        padding: var(--spacing-unit-4x);
      }
      .inset--top-4x {
        padding-top: var(--spacing-unit-4x);
      }

      .u-max-width {
        margin: 0 auto;
        max-width: 80rem;
      }

      .stack.stack--spacing-2x > * + * {
        margin-left: var(--spacing-unit-2x);
      }
      .stack.stack--vertical.stack--spacing-2x > * + * {
        margin-left: 0;
        margin-top: var(--spacing-unit-2x);
      }

      .stack.stack--spacing-4x > * + * {
        margin-left: var(--spacing-unit-4x);
      }
      .stack.stack--vertical.stack--spacing-4x > * + * {
        margin-left: 0;
        margin-top: var(--spacing-unit-4x);
      }

      .tag {
        background: var(--tag-light-background);
        color: var(--tag-light-foreground);
        display: inline-block;
        padding: 0.2rem var(--spacing-unit);
        border-radius: 4rem;
      }
      .tag--inline {
        line-height: 1;
        padding: 0.2rem var(--spacing-unit);
      }
      .tag--domain-healthcare {
        background: var(--domain-healthcare);
      }
      .tag--domain-event-management {
        background: var(--domain-event-management);
      }
      .tag--domain-education {
        background: var(--domain-education);
      }
      .tag--domain-insurance {
        background: var(--domain-insurance);
      }
      .tag--domain-e-commerce {
        background: var(--domain-e-commerce);
      }
      .tag--tech {
        background: var(--domain-tech);
      }

      .avatar {
        display: block;
        filter: grayscale(1);
        height: 100%;
        transition: all 0.5s ease-out;
        width: auto;
      }
      .avatar:hover {
        filter: none;
      }

      .site-header {
        animation-name: slideDown, fadeIn;
        animation-duration: 0.25s, 0.5s;
        padding: 0 var(--spacing-unit-3x);
        position: sticky;
        top: var(--spacing-unit-4x);
        z-index: 3;
      }
      @media (prefers-reduced-motion: reduce) {
        .site-header {
          animation: none;
        }
      }

      .main-navigation {
        background: var(--panel-light-background);
        border: 10px solid rgba(0, 0, 0, 0.1);
        border-image: url("themes/handdrawn/main-navigation-border.svg") 10 10
          10 10 stretch stretch;
        border-radius: 4.8rem;
        display: inline-flex;
        gap: 0.4rem;
        margin: 0 auto;
        overflow: hidden;
        justify-content: center;
        transition: width 0.2s ease-out;
        width: auto;
      }
      @media (prefers-color-scheme: dark) {
        .main-navigation {
          background: var(--panel-dark-background);
          border-image: url("themes/handdrawn/main-navigation-border--light.svg")
            10 10 10 10 stretch stretch;
          border-color: rgba(255, 255, 255, 0.1);
          color: var(--panel-dark-foreground);
        }
      }

      .main-navigation-trigger {
        padding: 0.4rem;
        text-decoration: none;
      }
      .main-navigation-trigger .avatar {
        height: 4rem;
      }

      .main-navigation__menu {
        align-items: center;
        display: flex;
        gap: 0.4rem;
        justify-content: center;
        margin: 0;
        overflow: hidden;
        padding: 0.4rem 0.4rem 0.4rem 0;
        position: relative;
        transition: all 0.25s ease-out;
        width: auto;
      }
      @media (prefers-reduced-motion: reduce) {
        .main-navigation__menu {
          transition: none;
        }
      }

      .main-navigation__menu-item {
        list-style: none;
      }
      .main-navigation__menu-item a {
        background: var(--main-navigation-light-link-background);
        color: var(--main-navigation-light-link-foreground);
        border-radius: 2.4rem;
        display: block;
        padding: var(--spacing-unit) 1.2rem;
        text-decoration: none;
        transition: background 0.25s ease-out;
      }

      .main-navigation__menu-item--avatar a {
        border-radius: 100%;
        height: 4rem;
        padding: 0;
        width: 4rem;
      }

      .main-navigation__menu-item a:hover {
        background: var(--main-navigation-light-link-hover-background);
        color: var(--main-navigation-light-link-hover-foreground);
      }
      @media (prefers-color-scheme: dark) {
        .main-navigation__menu-item a {
          background: var(--main-navigation-dark-link-background);
          color: var(--main-navigation-dark-link-foreground);
        }
        .main-navigation__menu-item a:hover {
          background: var(--main-navigation-dark-link-hover-background);
          color: var(--main-navigation-dark-link-hover-foreground);
        }
      }

      body.hide-main-navigation-menu .main-navigation__menu {
        opacity: 0;
        padding: 0;
        width: 0;
      }

      .interests-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--spacing-unit-2x);
        list-style: none;
      }
      .interests-list__item a {
        background: var(--interests-list-item-light-background);
        color: var(--interests-list-item-light-foreground);
        border-radius: 2.4rem;
        display: inline-block;
        padding: var(--spacing-unit) var(--spacing-unit-2x);
        text-align: center;
        text-decoration: none;
      }
      @media (prefers-color-scheme: dark) {
        .interests-list__item a {
          background: var(--interests-list-item-dark-background);
          color: var(--interests-list-item-dark-foreground);
        }
      }

      .podcasts-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
      }
      .podcasts-list__item {
        flex: 1 1 auto;
        max-height: 24rem;
        max-width: 24rem;
        min-height: 16rem;
        min-width: 16rem;
        overflow: hidden;
        text-align: center;
      }
      .podcasts-list__item img {
        display: block;
        height: 100%;
        margin: 0 auto;
        width: auto;
      }

      .panels {
        display: grid;
        gap: var(--spacing-unit-4x);
      }

      .panel {
        background: var(--panel-light-background);
        color: var(--panel-light-foreground);
        border-radius: 1.6rem;
        border: 10px solid rgba(0, 0, 0, 0.15);
        border-image: 10 10 10 10 stretch stretch;
        border-image-source: url("themes/handdrawn/panel-border.svg");
        overflow: hidden;
      }
      @media (prefers-color-scheme: dark) {
        .panel {
          background: var(--panel-dark-background);
          border-image-source: url("themes/handdrawn/panel-border--light.svg");
          color: var(--panel-dark-foreground);
        }
      }

      .panel--content-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }

      @media (min-width: 600px) {
        .panels {
          grid-template-columns: 1fr 1fr 1fr;
        }
        .panel--content-about {
          grid-column: 1 / 3;
        }
        .panel--content-interests {
          grid-column: 3 / 4;
        }
        .panel--content-podcasts {
          grid-column: 1 / 4;
        }
        .panel--content-contact {
          grid-column: 1 / 4;
        }
      }

      .site-main {
        animation-name: slideDown, fadeIn;
        animation-duration: 0.5s, 1s;
        overflow-x: hidden;
        padding: 0 var(--spacing-unit-3x);
        position: relative;
        z-index: 1;
      }
      @media (prefers-reduced-motion: reduce) {
        .site-main {
          animation: none;
        }
      }

      .contact-list {
        display: flex;
        gap: 1.6rem;
        list-style: none;
        justify-content: center;
      }
      .contact-list__item a {
        align-items: center;
        display: flex;
        gap: 0.4rem;
        opacity: 0.75;
        transition: all 0.25s ease-out;
      }
      .contact-list__item a svg {
        height: 4rem;
        width: 4rem;
      }
      .contact-list__item a:hover {
        opacity: 1;
      }

      .site-footer {
        animation-name: fadeIn;
        animation-duration: 1s;
        padding: 0 var(--spacing-unit-3x);
      }
      @media (prefers-reduced-motion: reduce) {
        .site-footer {
          animation: none;
        }
      }

      .site-footer .legal {
        color: var(--legal-light-foreground);
        display: block;
        text-align: center;
      }
      @media (prefers-color-scheme: dark) {
        .site-footer .legal {
          color: var(--legal-dark-foreground);
        }
      }
    </style>
  </head>

  <body>
    <div class="stack stack--vertical stack--spacing-4x inset--top-4x">
      <header class="site-header">
        <div class="u-max-width">
          <nav class="main-navigation">
            <a class="main-navigation-trigger" href="#">
              <img
                class="avatar"
                src="./me.png"
                alt="Barry Els"
                height="4rem"
                width="4rem"
              />
            </a>
            <ul class="main-navigation__menu">
              <li class="main-navigation__menu-item">
                <a href="#about">About</a>
              </li>
              <li class="main-navigation__menu-item">
                <a href="#contact">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>

      <main class="site-main">
        {{ content | safe }}
      </main>

      <footer class="site-footer">
        <div class="u-max-width inset--4x">
          <span class="legal">&copy; 2023 All rights reserved.</span>
        </div>
      </footer>

    </div>

  </body>
</html>
