<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Barry Els // {{ title }}</title>
    <meta
      name="description"
      content="{{ description }}"
    />
    <meta
      name="keywords"
      content="barry els, programmer, creative technologist, technical architect"
    />
    <link rel="icon" href="/favicon.png" />

    <link rel="stylesheet" href="/index.css" />
  </head>

  <body>
    <div class="stack stack--spacing-4x inset--top-4x">
      <header class="site-header">
        <div class="u-max-width">
          <nav class="main-navigation">
            <a class="main-navigation-trigger" href="/#">
              <img
                class="avatar"
                src="/me.png"
                alt="Barry Els"
                height="4rem"
                width="4rem"
              />
            </a>
            <ul class="main-navigation__menu">
              <li class="main-navigation__menu-item">
                <a href="/#about">About</a>
              </li>
              <li class="main-navigation__menu-item">
                <a href="/blog">Blog</a>
              </li>
              <li class="main-navigation__menu-item">
                <a href="/#contact">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>

      <main class="site-main">
        {{ content | safe }}
      </main>

      <footer class="site-footer">
        <div class="u-max-width inset--4x">
          <span class="legal">&copy; 2023 All rights reserved.</span>
        </div>
      </footer>

    </div>

  </body>
</html>
