.Skills {
	/* border: 1px solid #00f; */
}

.Skill {
	/* border: 1px solid #0f0; */
	clear: both;
	height: 24px;
	margin: 10px 0;
	position: relative;
}

.Skill:after {
	content: "";
	display: table;
	clear: both;
}

.Skill__Title {
	box-sizing: border-box;
	float: left;
	padding: 0 5px 0 0;
	text-align: right;
	width: 15%;
}

.Skill__Value {
	/* background-color: #ebedf0; */
	/* background-color: #659B53; */
	/* background-color: #D9EBB8; */
	background-color: #fff;
	box-sizing: border-box;
	bottom: 0;
	float: left;
	height: 100%;
	overflow: hidden;
	margin: 0 0px 0 0;
	position: relative;
	width: 4%;
}

.Skill__Value--1 {
	background-color: #c6e48b;
	background-color: #ddd;
	/* height: 10%; */
	/* opacity: 0.1; */
}
.Skill__Value--2 {
	background-color: #B2D57F;
	background-color: #ccc;
	/* height: 20%; */
	/* opacity: 0.2; */
}
.Skill__Value--3 {
	background-color: #9FC674;
	background-color: #bbb;
	/* height: 30%; */
	/* opacity: 0.3; */
}
.Skill__Value--4 {
	background-color: #8CB869;
	background-color: #aaa;
	/* height: 40%; */
	/* opacity: 0.4; */
}
.Skill__Value--5 {
	background-color: #79A95E;
	background-color: #999;
	/* height: 50%; */
	/* opacity: 0.5; */
}
.Skill__Value--6 {
	background-color: #659B53;
	background-color: #888;
	/* height: 60%; */
	/* opacity: 0.6; */
}
.Skill__Value--7 {
	background-color: #528C48;
	background-color: #777;
	/* height: 70%; */
	/* opacity: 0.7; */
}
.Skill__Value--8 {
	background-color: #3F7E3D;
	background-color: #666;
	/* height: 80%; */
	/* opacity: 0.8; */
}
.Skill__Value--9 {
	background-color: #2C6F32;
	background-color: #555;
	/* height: 90%; */
	/* opacity: 0.9; */
}
.Skill__Value--10 {
	background-color: #196127;
	background-color: #444;
	/* height: 100%; */
	/* opacity: 1; */
}



.Header {
	box-sizing: border-box;
	padding: 10px 0;
}

.Header:after {
	content: "";
	display: table;
	clear: both;
}

.Header__Item {
	box-sizing: border-box;
	float: left;
	margin: 0 0px 0 0;
	text-align: center;
	width: 4%;
}

.Header__Item--Title {
	text-align: right;
	padding: 0 5px 0 0;
	width: 15%;
}
