<nav class="main-navigation">
  <a class="main-navigation-trigger" href="/#">
    <img
      class="avatar"
      src="/me.png"
      alt="Barry Els"
      height="4rem"
      width="4rem"
    />
  </a>
  <ul class="main-navigation__menu">
    <li class="main-navigation__menu-item">
      <a href="/#about">About</a>
    </li>
    <li class="main-navigation__menu-item">
      <a href="/blog">Blog</a>
    </li>
    <li class="main-navigation__menu-item">
      <a href="/#contact">Contact</a>
    </li>
  </ul>
</nav>
