:root {
  --spacing-unit: 0.8rem;
  --spacing-unit-2x: 1.6rem;
  --spacing-unit-3x: 2.4rem;
  --spacing-unit-4x: 3.2rem;
  --spacing-unit-8x: 6.4rem;
  --border-radius-unit: 0.4rem;
  --border-radius-unit-2x: 0.8rem;

  --color-neutral-0: #fff;
  --color-neutral-100: #fcfcfc;
  --color-neutral-200: #e1e1e1;
  --color-neutral-300: #cfcfcf;
  --color-neutral-400: #b1b1b1;
  --color-neutral-500: #9e9e9e;
  --color-neutral-600: #7e7e7e;
  --color-neutral-700: #626262;
  --color-neutral-800: #515151;
  --color-neutral-900: #3b3b3b;

  --domain-healthcare: #c3f5c8;
  --domain-event-management: #c0bddb;
  --domain-education: #c8e6e2;
  --domain-insurance: #f2d9b9;
  --domain-e-commerce: #87cfb8;
  --domain-tech: #e5e5e2;

  --html-light-background: var(--color-neutral-100);
  --html-light-foreground: var(--color-neutral-900);
  --html-dark-background: var(--color-neutral-900);
  --html-dark-foreground: var(--color-neutral-200);

  --link-light-foreground: var(--color-neutral-900);
  --link-dark-foreground: var(--color-neutral-200);

  --tag-light-background: var(--color-neutral-200);
  --tag-light-foreground: var(--color-neutral-900);
  --tag-dark-background: var(--color-neutral-200);
  --tag-dark-foreground: var(--color-neutral-900);

  --interests-list-item-light-background: var(--color-neutral-200);
  --interests-list-item-light-foreground: var(--color-neutral-900);
  --interests-list-item-dark-background: #444;
  --interests-list-item-dark-foreground: var(--color-neutral-200);

  --legal-light-foreground: var(--color-neutral-800);
  --legal-dark-foreground: var(--color-neutral-500);

  --panel-light-background: var(--color-neutral-0);
  --panel-light-foreground: var(--color-neutral-900);
  --panel-dark-background: var(--color-neutral-800);
  --panel-dark-foreground: var(--color-neutral-100);

  --main-navigation-light-link-background: transparent;
  --main-navigation-light-link-foreground: var(--color-neutral-900);
  --main-navigation-light-link-hover-background: var(--color-neutral-300);
  --main-navigation-light-link-hover-foreground: var(--color-neutral-900);
  --main-navigation-dark-link-background: transparent;
  --main-navigation-dark-link-foreground: var(--color-neutral-100);
  --main-navigation-dark-link-hover-background: var(--color-neutral-800);
  --main-navigation-dark-link-hover-foreground: var(--color-neutral-100);
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(/themes/minimal/fonts/opensans/v36/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-stretch: 100%;
  font-display: swap;
  src: url(/themes/minimal/fonts/opensans/v36/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
