.spaceVertically > * + * {
  margin-top: var(--spacing-unit-md);
}

.spaceVerticallySmall > * + * {
  margin-top: var(--spacing-unit);
}

.spaceVerticallyLarge > * + * {
  margin-top: var(--spacing-unit-lg);
}

.spaceHorizontally > * + * {
  margin-left: var(--spacing-unit-md);
}

.spaceHorizontallySmall > * + * {
  margin-left: var(--spacing-unit);
}

.spaceHorizontallyLarge > * + * {
  margin-left: var(--spacing-unit-lg);
}

.resetListStyles,
.resetListStyles li,
.resetListStyles ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
}
