---
layout: layouts/page.njk
title: Career events
description: Raw career event log.
---

<div class="u-max-width stack stack--spacing-2x">
  <h1 class="h3">Career events</h1>
  {% include "components/career-events/index.njk" %}
</div>
