@keyframes slideDown {
  from {
    transform: translateY(calc(var(--spacing-unit-8x) * -1));
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html {
  background: var(--html-light-background);
  background: 0px 0px / 24px 24px
    radial-gradient(
      var(--color-neutral-300) 0.4px,
      var(--html-light-background) 1px
    );
  color: var(--html-light-foreground);
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    background: var(--html-dark-background);
    color: var(--html-dark-foreground);
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

a {
  color: var(--link-light-foreground);
}
@media (prefers-color-scheme: dark) {
  a {
    color: var(--link-dark-foreground);
  }
}

p {
  line-height: 165%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 800;
  line-height: 110%;
}

h1,
.h1 {
  font-size: 4rem;
}
@media (min-width: 600px) {
  h1,
  .h1 {
    font-size: 6.4rem;
  }
}

h2,
.h2 {
  font-size: 3rem;
}
@media (min-width: 600px) {
  h2,
  .h2 {
    font-size: 4rem;
  }
}

h3,
.h3 {
  font-size: 2.4rem;
}
@media (min-width: 600px) {
  h3,
  .h3 {
    font-size: 3.2rem;
  }
}

h4,
.h4 {
  font-size: 2rem;
}
@media (min-width: 600px) {
  h4,
  .h4 {
    font-size: 2.4rem;
  }
}

h5,
.h5 {
  font-size: 1.8rem;
}
@media (min-width: 600px) {
  h5,
  .h5 {
    font-size: 2rem;
  }
}

h6,
.h6 {
  font-size: 1.6rem;
}

.inset {
  padding: var(--spacing-unit);
}
.inset--2x {
  padding: var(--spacing-unit-2x);
}
.inset--4x {
  padding: var(--spacing-unit-4x);
}
.inset--top-4x {
  padding-top: var(--spacing-unit-4x);
}

.u-unstyled-list {
  list-style: none;
}

.u-max-width {
  margin: 0 auto;
  max-width: 80rem;
}

.stack > * + * {
  margin-top: var(--spacing-unit);
}
.stack.stack--spacing-2x > * + * {
  margin-top: var(--spacing-unit-2x);
}
.stack.stack--spacing-4x > * + * {
  margin-top: var(--spacing-unit-4x);
}

.stack.stack--horizontal > * + * {
  margin-left: var(--spacing-unit);
  margin-top: 0;
}
.stack.stack--horizontal.stack--spacing-2x > * + * {
  margin-left: var(--spacing-unit-2x);
  margin-top: 0;
}
.stack.stack--horizontal.stack--spacing-4x > * + * {
  margin-left: var(--spacing-unit-4x);
  margin-top: 0;
}

.tag {
  background: var(--tag-light-background);
  color: var(--tag-light-foreground);
  display: inline-block;
  padding: 0.2rem var(--spacing-unit);
  border-radius: 4rem;
}
.tag--inline {
  line-height: 1;
  padding: 0.2rem var(--spacing-unit);
}
.tag--domain-healthcare {
  background: var(--domain-healthcare);
}
.tag--domain-event-management {
  background: var(--domain-event-management);
}
.tag--domain-education {
  background: var(--domain-education);
}
.tag--domain-insurance {
  background: var(--domain-insurance);
}
.tag--domain-e-commerce {
  background: var(--domain-e-commerce);
}
.tag--tech {
  background: var(--domain-tech);
}

.avatar {
  display: block;
  filter: grayscale(1);
  height: 100%;
  transition: all 0.5s ease-out;
  width: auto;
}
.avatar:hover {
  filter: none;
}

.site-header {
  animation-name: slideDown, fadeIn;
  animation-duration: 0.25s, 0.5s;
  padding: 0 var(--spacing-unit-3x);
  position: sticky;
  top: var(--spacing-unit-4x);
  z-index: 3;
}
@media (prefers-reduced-motion: reduce) {
  .site-header {
    animation: none;
  }
}

.main-navigation {
  background: var(--panel-light-background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4.8rem;
  display: inline-flex;
  gap: 0.4rem;
  margin: 0 auto;
  overflow: hidden;
  justify-content: center;
  transition: width 0.2s ease-out;
  width: auto;
}
@media (prefers-color-scheme: dark) {
  .main-navigation {
    background: var(--panel-dark-background);
    border-color: rgba(255, 255, 255, 0.1);
    color: var(--panel-dark-foreground);
  }
}

.main-navigation-trigger {
  padding: 0.4rem;
  text-decoration: none;
}
.main-navigation-trigger .avatar {
  height: 4rem;
}

.main-navigation__menu {
  align-items: center;
  display: flex;
  gap: 0.4rem;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0.4rem 0.4rem 0.4rem 0;
  position: relative;
  transition: all 0.25s ease-out;
  width: auto;
}
@media (prefers-reduced-motion: reduce) {
  .main-navigation__menu {
    transition: none;
  }
}

.main-navigation__menu-item {
  list-style: none;
}
.main-navigation__menu-item a {
  background: var(--main-navigation-light-link-background);
  color: var(--main-navigation-light-link-foreground);
  border-radius: 2.4rem;
  display: block;
  padding: var(--spacing-unit) 1.2rem;
  text-decoration: none;
  transition: background 0.25s ease-out;
}

.main-navigation__menu-item--avatar a {
  border-radius: 100%;
  height: 4rem;
  padding: 0;
  width: 4rem;
}

.main-navigation__menu-item a:hover {
  background: var(--main-navigation-light-link-hover-background);
  color: var(--main-navigation-light-link-hover-foreground);
}
@media (prefers-color-scheme: dark) {
  .main-navigation__menu-item a {
    background: var(--main-navigation-dark-link-background);
    color: var(--main-navigation-dark-link-foreground);
  }
  .main-navigation__menu-item a:hover {
    background: var(--main-navigation-dark-link-hover-background);
    color: var(--main-navigation-dark-link-hover-foreground);
  }
}

body.hide-main-navigation-menu .main-navigation__menu {
  opacity: 0;
  padding: 0;
  width: 0;
}

.interests-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-unit-2x);
  list-style: none;
}
.interests-list__item a {
  background: var(--interests-list-item-light-background);
  color: var(--interests-list-item-light-foreground);
  border-radius: 2.4rem;
  display: inline-block;
  padding: var(--spacing-unit) var(--spacing-unit-2x);
  text-align: center;
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  .interests-list__item a {
    background: var(--interests-list-item-dark-background);
    color: var(--interests-list-item-dark-foreground);
  }
}

.creation-list {
  list-style: none;
}

.podcasts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
.podcasts-list__item {
  flex: 1 1 auto;
  max-height: 24rem;
  max-width: 24rem;
  min-height: 16rem;
  min-width: 16rem;
  overflow: hidden;
  text-align: center;
}
.podcasts-list__item img {
  display: block;
  height: 100%;
  margin: 0 auto;
  width: auto;
}

.panels {
  display: grid;
  gap: var(--spacing-unit-4x);
}

.panel {
  background: var(--panel-light-background);
  color: var(--panel-light-foreground);
  border-radius: var(--border-radius-unit-2x);
  border: 1px dotted rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
@media (prefers-color-scheme: dark) {
  .panel {
    background: var(--panel-dark-background);
    color: var(--panel-dark-foreground);
  }
}

.panel--contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media (min-width: 600px) {
  .panels {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .panel--about {
    grid-column: 1 / 3;
  }
  .panel--creation {
    grid-column: 1 / 4;
  }
  .panel--podcasts {
    grid-column: 1 / 4;
  }
  .panel--contact {
    grid-column: 1 / 4;
  }
}

.site-main {
  animation-name: slideDown, fadeIn;
  animation-duration: 0.5s, 1s;
  padding: 0 var(--spacing-unit-3x);
  position: relative;
  z-index: 1;
}
@media (prefers-reduced-motion: reduce) {
  .site-main {
    animation: none;
  }
}

.contact-list {
  display: flex;
  gap: 1.6rem;
  list-style: none;
  justify-content: center;
}
.contact-list__item a {
  align-items: center;
  display: flex;
  gap: 0.4rem;
  opacity: 0.75;
  transition: all 0.25s ease-out;
}
.contact-list__item a svg {
  height: 4rem;
  width: 4rem;
}
.contact-list__item a:hover {
  opacity: 1;
}

.site-footer {
  animation-name: fadeIn;
  animation-duration: 1s;
  padding: 0 var(--spacing-unit-3x);
}
@media (prefers-reduced-motion: reduce) {
  .site-footer {
    animation: none;
  }
}

.site-footer .legal {
  color: var(--legal-light-foreground);
  display: block;
  text-align: center;
}
@media (prefers-color-scheme: dark) {
  .site-footer .legal {
    color: var(--legal-dark-foreground);
  }
}
