doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= global.htmlTitle
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content=`${global.htmlDescription}`)
    link(href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,400&display=swap" rel="stylesheet")
    link(href="./style.css" rel="stylesheet")

  body
    #page
      header.site-header

      main.site-main
        .ChatBot
          .ChatBubble.ChatBubble--agent
            .ChatBubble__Content
              p Hi there!
              p my name is 
                a(href="#") Barry
          .ChatBubble.ChatBubble--agent
            .ChatBubble__Content
              p What would you like to know about me?

          .ChatBubble.ChatBubble--user
            .ChatBubble__Content
              p Something I couldn't find out elsewhere

          .ChatBubble.ChatBubble--agent
            .ChatBubble__Content
              p ...

          .quick-replies
            ul
              li What skills do you have?
              li What skills do you have?
              li What skills do you have?

          .ChatBubble.ChatBubble--user.ChatBubble--input
            .ChatBubble__Content
              textarea Type something here...

          .ChatBubble.ChatBubble--agent
            .ChatBubble__Content
              p ...
              p ...
              p ...
              p ...
              p ...
              p ...
              p ...
              p ...
              p ...
              p ...
              p ...
              p ...
              p ...
              p ...
              p ...
              p ...
              p ...

            .ChatBubble.ChatBubble--agent
            .ChatBubble__Content
              p ...
              p ...
              p ...
              p ...
              p ...
              p ...
              p ...
              p ...
              p ...
              p ...
              p ...
              p ...
              p ...
              p ...
              p ...
              p ...
              p ...

        .skills
          dl
            each skill in global.skills
              dt= skill.title
              dd Some content goes here

      footer.site-footer
        

    include components/CookiePolicyNotification/CookiePolicyNotification.pug
