<ul class="u-unstyled-list">
  {%- for blogPost in blogPosts -%}
    <li class="stack">
      <a
        href="{{ blogPost.url }}"
        title="{{ blogPost.title }}"
        rel="noreferrer"
        target="_blank"
      >
        <h4>{{ blogPost.title }}</h4>
      </a>
      <p>{{ blogPost.description }}</p>
    </li>
  {%- endfor -%}
</ul>
