$color-palette: (
  brand-primary: #fc0,
  body-background: #f5f5f5,
  body-foreground: #333,
  chat-bubble-background: #fff,
  chat-bubble-foreground: #444,
  chat-bubble-user-background: lighten(#fc0, 20%),
  chat-bubble-user-foreground: #444,
);

$breakpoints: (
  small: 0,
  medium: 720px,
  large: 1024px,
);


@function base-unit($multiplier: 1) {
  @return (8px * $multiplier);
}

@function border-radius-unit($multiplier: 1) {
  @return (4px * $multiplier);
}

@function font-size($font_size_as_pixel_value) {
  @return ($font_size_as_pixel_value / 10) * 1rem;
}

@function color-palette($name) {
  @return map-get($color-palette, $name);
}


@mixin breakpoint($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type == max {
      $width: $width - 1;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
